@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

body {
  @apply bg-gray-700;
}

.\$colorful-cell {
  background: linear-gradient(
    90deg,
    theme('colors.green.300') 0%,
    theme('colors.green.300') var(--c1),
    rgba(255, 255, 255, 0) var(--c1)
  );
}

.\$available-cell {
  background: linear-gradient(
    90deg,
    theme('colors.gray.600') 0%,
    theme('colors.gray.600') var(--c2),
    rgba(255, 255, 255, 0) var(--c2)
  );
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-400;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

.\$hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
